*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---------------body----------- */
body{
    background-color:  rgba(236, 232, 232, 0.932);
}

body::-webkit-scrollbar{
    display: none;
}

.header{
    width: 100%;
    background-color: white;
    height: 3.8rem;
    position: sticky;
    top: 0;
}

.head-container{
    padding: 10px 50px 0px 90px;
}

.head-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.Flip_logo{
    width: 35px;
    border-radius: 5px;
}

.Flipkart_name{
    font-size: 28px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

/* search_bar */

.search_bar{
    display: flex;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #e1e9ec98;
    width: 730px;
    height: 2.5rem;
    gap: 10px;
    align-items: center;
}
.search{
    color: rgba(82, 80, 80, 0.418);
}

.search_bar span{
    align-self: center;   
}

.search-input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: sans-serif;
    background: transparent;
    /* background-color: #e1e9ec05; */
} 

.search-input::placeholder{
     background-color: #e1e9ec05;
}

/*--------------- flex_div --------------------*/
.flex_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.flex a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 4px;
    color: black;
    font-family: sans-serif;
    font-size: 18px;   
}

.login:hover{
    /* box-shadow: 0 0 20px 0.5px rgba(236, 232, 232, 0.507); */
    color: blue;
}

.dots a{
    color: black;
    margin-left: 20px;
}

/* ------------main starts----------------- */
.main{
   
}

.main-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 8px 20px;
    padding: 0 7rem;
    background-color: white;
    height: 9rem; 
}

.main-cont1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.1rem;
}

.main-cont1 .title{
    font-size: 15px;
    font-family: sans-serif;
    color:rgb(104, 102, 102) ;
    font-weight:600;
}

/* --------scroll-bar---------------0-------------- */

.mainscroll-bar{
    padding: 4px 20px;
}

.scroll-img1 .phone{
    width: 100%;
}

/* <!-- best of electronics------------- --> */
.electronics{
    background-color: white;
    height: 23rem;
    margin: 8px 20px;
    padding: 20px 1px;
}

.elect-head{
    display: flex;
}

.elect-head-h1{
    font-family:sans-serif;
    font-size: 1.3rem;
    color: rgb(87, 85, 85);
    margin-left: 10px;
}

.elect-flex{
    padding: 2rem 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.elect-flex-1{
    border: 1px solid rgba(224, 217, 217, 0.87);
    border-radius: 6px;
    width: 12.3rem;
    height: 16rem;
    text-align: center;
}

.elect-flex-1:hover{
    box-shadow: 2px 2px 10px grey;
}
.elect-image{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    height: 9rem;
    object-fit: contain;
}

.elect-image-monitor{
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    height: 9rem;
    object-fit: contain;
}
    
.elect-detail-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: rgb(146, 144, 144);
    letter-spacing: 0px;
    margin-bottom: 0.3rem;
} 

.elect-detail-2{
  font-size: 1rem;
  color: rgb(39, 38, 38);
}   


/* --------------end----------------- */

/*---------- beauty food toys and more ------------*/

.bft-offer{
    display: flex;
    height: 23rem;
    gap: 2px;
}

.bft{
    background-color: white;
    margin: 8px 20px;
    padding: 20px 1px;
    width: 90%;
}

.bft-head{
    display: flex;
}

.bft-head-h1{
    font-family:sans-serif;
    font-size: 1.3rem;
    color: rgb(87, 85, 85);
    margin-left: 10px;
}

.bft-flex{
 padding: 2rem 2px;
}

.bft-flex-1{
    border: 1px solid rgba(224, 217, 217, 0.87);
    border-radius: 6px;
    width: 12.3rem;
    height: 16rem;
    text-align: center;
}


.bft-flex-1:hover{
    box-shadow: 2px 2px 10px grey;
}
.bft-image{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    height: 9rem;
    object-fit: contain;
    
}

.bft-detail-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: rgb(146, 144, 144);
    letter-spacing: 0px;
    margin-bottom: 0.3rem;
} 

.bft-detail-2{
  font-size: 1rem;
  color: rgb(39, 38, 38);
}   

.bft-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flight-offer{
    
}

.flight{
    height: 100%;
    width: 18rem;
    margin-right: 20px;
}

.flight:hover{
    cursor: pointer;
    /* filter: ; */
}

/* -------------end-------------- */

/* -------top deals on house and appliances-------- */
.Room{
    margin: 10px 20px;
    padding: 2px 0px;
    height: 42.5rem; 
    display: flex;
    gap: 10px;
      
}

.Room-column1{
    width: 70%;
}

.Part1{
  height: 21rem;
  background-color: white;
  margin-bottom: 5px;  
}

.part1-head{
    display: flex;
}

.part1-head-h1{
    font-family: sans-serif;
    font-size: 1.3rem;
    color: rgb(87, 85, 85);
    margin-top: 10px;
    margin-left: 15px;
}

.part1-flex{
    padding: 2rem 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.part1-flex-1{
    border: 1px solid rgba(224, 217, 217, 0.87);
    border-radius: 6px;
    width: 12.3rem;
    height: 16rem;
    text-align: center;  
}

.part1-flex-1:hover{
    box-shadow: 2px 2px 10px grey;
}

.Room-image{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    height: 9rem;
    object-fit: contain;
}

.Room-detail-1{
    font-size: 1.1rem;
    color: rgb(146, 144, 144);
    margin-bottom: 0.3r;
}

.Part2{
    background-color: white;
    height: 21rem;
}

.Room-column2{
   width: 40%;
   background-color: white;    
}

/* ------diwali banner-------- */
.Room-column2{

}

.banner_img{
    width: 100%;
    height: 100%;
    object-fit: fit;
}

/* -----footer------------ */

.footer{
    width: 100%;
    height: 25rem;
    background-color: black;
    padding: 40px 40px;
}

.footer-flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 20px;
    
}

.f-content{
    width: 50%;
    color: rgb(134, 126, 126);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.footer-content h1{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer-content .list li{
    list-style: none;
    margin-bottom: 15px;
    
}

.footer-content .list li a{
    text-decoration: none;
    color: white;
}

.social h1{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.social-list a{
    margin-right: 1rem;
}

.facebook{
    width: 2rem;
    border-radius: 10px;  
}

.instagram{
    width: 2rem;
    border-radius: 10px;
}

/* -------borderline0---------- */
.border-line{
    border-bottom: 0.5px solid rgba(139, 134, 134, 0.603);
    margin-top: 2.5rem;
}

/* ----end----------- */
.end{
    padding: 0 3rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.end a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.end a:hover{
    color: blue;
}
